{
  "extends": ["liferay"],
  "globals": {
    "assertAsyncHttpRequest": false,
    "isExpress": false
  },
  "env": {
    "node": true,
    "jest": true,
    "es6": true
  },
  "rules": {
    "max-len": 0
  }
}
