{
  "extends": ["liferay"],
  "globals": {
    "expect": false,
    "mock": false,
    "stub": false,
    "spy": false,
    "assertAsyncHttpRequest": false,
    "isExpress": false,
    "IncrementalDOM": true
  },
  "env": {
    "node": true,
    "mocha": true,
    "es6": true
  },
  "rules": {
    "indent": 0,
    "no-unused-vars": [2, {"args": "none"}]
  }
}
