{
  "extends": ["eslint:recommended", "google"],
  "parserOptions": {
      "ecmaVersion": 2017,
      "sourceType": "module"
  },
  "globals": {
    "expect": false,
    "mock": false,
    "stub": false,
    "assertAsyncHttpRequest": false,
    "isExpress": false
  },
  "env": {
    "node": true,
    "mocha": true,
    "es6": true
  },
  "rules": {
    "no-process-env": 0,
    "no-console": 0
  }
}
